/** **/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: palegreen;
}

.container-wrapper {
  width: 780px;
  height: 400px;
  background: white;
  border-radius: 10px;
}

.container-wrapper h1 {
  font-size: 25px;
  font-weight: bold;
  padding: 22px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.inputs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.inputs input {
  width: 50px;
  height: 50px;
  margin: 15px 5px;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #57a6a8;
}

.container-content {
  padding: 20px;
}

.details p {
  font-size: 17px;
  padding: 6px;
}

.reset-btn {
  padding: 10px 0;
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  background: paleturquoise;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-top: 26px;
}
