/** **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: cadetblue;
}

.container-wrapper {
    width: 450px;
    background: white;
    border-radius: 10px;
}

.container-wrapper h1 {
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}